.admin-container {
    display: flex;
  }
  
  .admin-sidebar {
    width: 250px;
    background: #6f4e37;
    color: white;
    height: 100vh;
    padding: 20px;
  }
  
  .admin-sidebar button {
    width: 100%;
    padding: 12px;
    background: white;
    color: #6f4e37;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .admin-main {
    padding: 30px;
    flex: 1;
  }
  